* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #FFFCF2;
}

h1 {
    border-bottom: 0.15rem solid black;
}

p {
    padding: 0;
    margin: 0;
}

input {
    border-radius: 0.3rem;
    border: 0.15rem solid black;
    padding: 0.35rem;
}

select {
    border-radius: 0.3rem;
    border: 0.15rem solid black;
    padding: 0.35rem 0;
}

button {
    background:cornflowerblue;
    color: white; 
    border-radius: 0.3rem;
    outline: 0;
    border: 0;
    padding: 0.5rem 1rem;
    margin-top: 0.7rem;
}

button:hover {
    background: black;
}


fieldset {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
}

.form {
    border: 0.15rem solid black;
    display: inline-block;
    width: 20rem;
    flex-direction: column;
    border-radius: 0.3rem;
    padding: 1.25rem;
}

.form__field {
    display:flex;
    flex-direction: column;
    margin: 0.4rem 0;
}

.error {
    background-color: #f4e074; 
    border: 0.15rem solid black;
    padding: 5px;
    border-radius: 0.3rem;
    margin: 0.2rem 0;
}