* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form {
    border: 0.15rem solid black;
    display: inline-block;
    flex-direction: column;
    border-radius: 0.3rem;
    padding: 1.25rem;
}

.form__field {
    display:flex;
    flex-direction: column;
}

.error {
    background-color: #f4e074; 
    border: 0.15rem solid black;
    padding: 5px;
    border-radius: 0.3rem;
    margin: 0.2rem 0;
}